<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.QuestionMapper">
    <resultMap id="getQuestionByIdMap" type="org.example.entity.Question">
        <id property="id" column="q_id" jdbcType="BIGINT"/>
        <result property="title" column="q_title" jdbcType="VARCHAR"/>
        <result property="type" column="q_type" jdbcType="VARCHAR"/>
        <result property="multi" column="q_multi" jdbcType="BIT"/>
        <result property="categoryId" column="q_category_id" jdbcType="BIGINT"/>
        <result property="difficulty" column="q_difficulty" jdbcType="VARCHAR"/>
        <result property="score" column="q_score" jdbcType="INTEGER"/>
        <result property="paperScore" column="q_paper_score" jdbcType="DECIMAL"/>
        <result property="analysis" column="q_analysis" jdbcType="VARCHAR"/>
        <result property="createTime" column="q_create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="q_update_time" jdbcType="TIMESTAMP"/>
        <association property="answer" javaType="org.example.entity.QuestionAnswer">
            <id property="id" column="qa_id"/>
            <result property="answer" column="qa_answer"/>
            <result property="keywords" column="qa_keywords"/>
            <result property="questionId" column="qa_question_id"/>
            <result property="createTime" column="qa_create_time"/>
            <result property="updateTime" column="qa_update_time"/>
        </association>
        <collection property="choices" ofType="org.example.entity.QuestionChoice">
            <id property="id" column="qc_id"/>
            <result property="questionId" column="qc_question_id"/>
            <result property="content" column="qc_content"/>
            <result property="isCorrect" column="qc_is_correct"/>
            <result property="sort" column="qc_sort"/>
            <result property="createTime" column="qc_create_time"/>
            <result property="updateTime" column="qc_update_time"/>
        </collection>
    </resultMap>

    <select id="selectCountByCategoryId" resultType="java.util.HashMap">
        select category_id as categoryId,count(1) as count
        from questions
        where is_deleted = 0
        group by category_id
    </select>
    <select id="getQuestionById" resultMap="getQuestionByIdMap">
        SELECT q.id           AS q_id,
               q.title        AS q_title,
               q.type         AS q_type,
               q.multi        AS q_multi,
               q.category_id  AS q_category_id,
               q.difficulty   AS q_difficulty,
               q.score        AS q_score,
               q.analysis     AS q_analysis,
               q.create_time  AS q_create_time,
               q.update_time  AS q_update_time,
               qa.id          AS qa_id,
               qa.question_id AS qa_question_id,
               qa.answer      AS qa_answer,
               qa.keywords    AS qa_keywords,
               qa.create_time AS qa_create_time,
               qa.update_time AS qa_update_time,
               qc.id          AS qc_id,
               qc.question_id AS qc_question_id,
               qc.content     AS qc_content,
               qc.is_correct  AS qc_is_correct,
               qc.sort        AS qc_sort,
               qc.create_time AS qc_create_time,
               qc.update_time AS qc_update_time,
               qc.is_deleted  AS qc_is_deleted
        FROM exam_system_new.questions q
                 LEFT JOIN
             exam_system_new.question_answers qa ON q.id = qa.question_id AND qa.is_deleted = 0
                 LEFT JOIN
             exam_system_new.question_choices qc ON q.id = qc.question_id AND qc.is_deleted = 0
        WHERE q.is_deleted = 0
          and qa.is_deleted = 0
          and qc.is_deleted = 0
          and q.id = #{id}
        order by qc.sort
    </select>


</mapper>
